<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959713249473-nksrbhj19nu0n1t1qd8ho2lvgf0gfj7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959713249473-nksrbhj19nu0n1t1qd8ho2lvgf0gfj7o</string>
	<key>API_KEY</key>
	<string>AIzaSyCNEfdoDKj2LdJGr5Ae_Nu2GDQgry_V4Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>959713249473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sensingLocalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sensing-local</string>
	<key>STORAGE_BUCKET</key>
	<string>sensing-local.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959713249473:ios:036849dfbdfc896ca02c40</string>
	<key>DATABASE_URL</key>
	<string>https://sensing-local-default-rtdb.firebaseio.com</string>
</dict>
</plist>